html,
body,
#root {
  max-width: 3840px;
  text-align: center;
  background-color: #fdfcfa;
  height: 100vh;
}

.datepicker-modal {
  position: fixed !important;
  bottom: 0px !important; /* 원하는 위치로 조정 */
}

/* Datepicker 전체 스타일 커스터마이징 */
.datepicker {
  border-radius: 1.5rem 1.5rem 0px 0px !important; /* 둥근 모서리 */
  background-color: #ffffff !important;
}

/* 헤더 스타일 */
.datepicker-header {
  background-color: #7d5c4d;
  color: #7d5c4d !important;
}

/* 휠 영역 스타일 */
.datepicker-content {
  margin: 1.5rem;
}

/* 선택된 휠 스타일 */
.datepicker-wheel {
  background-color: white;
  border-top: 1px solid #7d5c4d !important;
  border-bottom: 1px solid #7d5c4d !important;
  color: white !important;
  font-size: 0.875rem !important;
}

/* 버튼 영역 스타일 */
.datepicker-navbar {
  background-color: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

/* 버튼 공통 스타일 */
.datepicker-navbar-btn {
  border-radius: 0.5rem;
  width: 50%;
  height: 3rem !important;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 왼쪽 버튼 스타일 */
.datepicker-navbar-btn:nth-child(1) {
  background: #7d5c4d;
  color: white !important;
}

/* 오른쪽 버튼 스타일 */
.datepicker-navbar-btn:nth-child(2) {
  background: #eee9e4;
  color: #78716c !important;
}
